<div id="restaurants" class="min-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 flex px-6">
  <% favorite_restaurants.each do |fav| %>
    <!-- component -->
    <div class="flex h-full items-center justify-center">
      <div class="w-full overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl relative">
        <div>
          <%= link_to 'X', favorite_path(fav), method: :delete, class: "rounded-lg py-1 px-3 bg-gray-200 inline-block font-medium ms-auto absolute top-1 start-1", data: {confirm: "確定要移出喜愛清單?"}%>
        </div>
        <div class= "aspect-[5/3]">
          <%= link_to fav.favorable do %>
            <img class="h-full w-full" src=<%=fav.favorable.image%> alt="restaurant iamge">
          <% end %>
        </div>
        <div class="p-5">
          <p class="text-medium mb-5 text-gray-700"><%= fav.favorable.name%></p>
          <button class="w-full rounded-md bg-indigo-600  py-2 text-indigo-100 hover:bg-indigo-500 hover:shadow-md duration-75">See More</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
