
<div class="flex m-3 space-x-2 ">
  <div class="w-1/3 ">
    <div class="bg-white rounded-md shadow-md bg-blue-100 p-4">
      <h2 class="text-xl  font-semibold mb-2">住宿</h2>
      <!-- 這裡可以添加卡片內容 -->
    </div>
  </div>
  <div class="w-1/3">
    <div class="bg-white rounded-md shadow-md bg-blue-100 p-4">
      <h2 class="text-xl font-semibold mb-2">觀光</h2>
      <!-- 這裡可以添加卡片內容 -->
    </div>
  </div>
  <div class="w-1/3">
    <div class="bg-white rounded-md shadow-md bg-blue-100 p-4">
      <h2 class="text-xl font-semibold mb-2">餐廳</h2>
      <!-- 這裡可以添加卡片內容 -->
    </div>
  </div>
</div>
<!-- ---------------------------------- -->

<form class="flex flex-col items-center">
  <div class="relative">
    <img src="https://fakeimg.pl/300x200/200" alt="圖片" class="w-96 h-auto">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <input type="text" name="keyword" value="<%= params[:keyword] %>" placeholder="請輸入關鍵字..." class="w-full px-4 py-2 bg-transparent border-none bg-blue-200"> <!-- 調整搜尋欄位的寬度和內距，使其置中且透明背景 -->
    </div>
  </div>
  <input type="submit" class="btn btn-primary mt-4" value="查詢">
</form>


<div class="flex gap-5">
  <div class="relative">
    <img src="https://fakeimg.pl/300x200/ccc" alt="圖片" class="w-96 h-auto">
    <div class="absolute top-0 right-0 m-2">
      <span class="text-white text-3xl">&#x2665;</span>
    </div>
    <div class="absolute bottom-0 left-0 w-full p-4 bg-gray-900 opacity-75 text-white">
      <p class="text-center">這是圖片下方的文字</p>
    </div>
  </div>

  <div class="relative">
    <img src="https://fakeimg.pl/300x200/ccc" alt="圖片" class="w-96 h-auto">
    <div class="absolute top-0 right-0 m-2">
      <span class="text-white text-3xl">&#x2665;</span>
    </div>
    <div class="absolute bottom-0 left-0 w-full p-4 bg-gray-900 opacity-75 text-white">
      <p class="text-center">這是圖片下方的文字</p>
    </div>
  </div>

  <div class="relative">
    <img src="https://fakeimg.pl/300x200/ccc" alt="圖片" class="w-96 h-auto">
    <div class="absolute top-0 right-0 m-2">
      <span class="text-white text-3xl">&#x2665;</span>
    </div>
    <div class="absolute bottom-0 left-0 w-full p-4 bg-gray-900 opacity-75 text-white">
      <p class="text-center">這是圖片下方的文字</p>
    </div>
  </div>

  <div class="relative">
    <img src="https://fakeimg.pl/300x200/ccc" alt="圖片" class="w-96 h-auto">
    <div class="absolute top-0 right-0 m-2">
      <span class="text-white text-3xl">&#x2665;</span>
    </div>
    <div class="absolute bottom-0 left-0 w-full p-4 bg-gray-900 opacity-75 text-white">
      <p class="text-center">這是圖片下方的文字</p>
    </div>
  </div>
</div>

<!-- ----------------------- -->
<div class="two-time flex" data-controller="hello">
  <button data-action="click->hello#prevSlide" class="prev-btn">
    <p>(-</p>
  </button>

  <div data-hello-target="slides"><img src="https://fakeimg.pl/300x200/f00"></div>
  <div data-hello-target="slides"><img src="https://fakeimg.pl/300x200/200"></div>
  <div data-hello-target="slides"><img src="https://fakeimg.pl/300x200/ccc"></div>
  <div data-hello-target="slides"><img src="https://fakeimg.pl/300x200/fa0"></div>
  <div data-hello-target="slides"><img src="https://fakeimg.pl/300x200/200"></div>
  <div data-hello-target="slides"><img src="https://fakeimg.pl/300x200/acc"></div>

  <button data-action="click->hello#nextSlide" class="next-btn">
    <p>-)</p>
  </button>
</div>
<!-- -------------------------幻燈片 -->

<div class="two-time flex py-2 " data-controller="hello">
  <button data-action="click->hello#prevSlide" class="prev-btn">
    <p>(-</p>
  </button>
  <div data-hello-target="slides p-2 mx-1">
    <img src="https://fakeimg.pl/300x200/f00" class="mx-1">
    <img src="https://fakeimg.pl/300x200/ccc" class="mx-1">
    <img src="https://fakeimg.pl/300x200/fa0" class="mx-1">
  </div>
  <div data-hello-target="slides">
    <img src="https://fakeimg.pl/300x200/200" class="mx-1">
    <img src="https://fakeimg.pl/300x200/acc" class="mx-1">
  </div>
 
  <button data-action="click->hello#nextSlide" class="next-btn">
    <p>-)</p>
  </button>
</div>
