<div class="mx-auto md:w-3/4 w-full">
  <h1 class="font-bold text-4xl">新增餐廳</h1>

  <%= render "form", restaurant: @restaurant %>

  <%= link_to '返回餐廳列表', restaurants_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
